http:
  routers:
    eve-frontend:
      rule: "Host(`eveseat.tawfiqulbari.work`) && !PathPrefix(`/api`)"
      entryPoints:
        - websecure
      service: eve-frontend
      tls:
        certResolver: le
      priority: 10
      middlewares:
        - security-headers
        - compression
    
    eve-frontend-http:
      rule: "Host(`eveseat.tawfiqulbari.work`) && !PathPrefix(`/api`)"
      entryPoints:
        - web
      service: eve-frontend
      priority: 10
      middlewares:
        - redirect-to-https
    
    eve-api:
      rule: "Host(`eveseat.tawfiqulbari.work`) && PathPrefix(`/api`)"
      entryPoints:
        - websecure
      service: eve-api
      tls:
        certResolver: le
      middlewares:
        - eve-api-stripprefix
        - security-headers
    
    eve-api-http:
      rule: "Host(`eveseat.tawfiqulbari.work`) && PathPrefix(`/api`)"
      entryPoints:
        - web
      service: eve-api
      middlewares:
        - eve-api-stripprefix
        - security-headers

  services:
    eve-frontend:
      loadBalancer:
        servers:
          - url: "http://172.18.0.18:80"
    
    eve-api:
      loadBalancer:
        servers:
          - url: "http://172.18.0.15:8000"

  middlewares:
    eve-api-stripprefix:
      stripPrefix:
        prefixes:
          - "/api"
    
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
    
    security-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000
    
    compression:
      compress: {}
